@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", sans-serif;
  font-weight: 800;
  color: #23303eff;
}

html,
body {
  font-family: "Barlow", Verdana, Tahoma, sans-serif;
}

.logo {
  font-family: "Poppins", Verdana, Tahoma, sans-serif;
}

.container {
  margin: auto;
}

.hero {
  width: 100%;
  height: 750px;
  background: url(/images/desktop/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .ham-menu {
  display: none;
}

.hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3%;
}

.hero h1 {
  color: #fff;
}

.hero a {
  color: #ffffff;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.hero .nav-focus {
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.nav-focus a {
  color: #23303eff;
}

.hero .nav-focus:hover,
.hero .nav-focus:active,
.hero .nav-focus:hover a,
.hero .nav-focus:active a {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.hero .center {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  margin-block-start: 4rem;
}

.hero .center h1 {
  font-size: 3rem;
  letter-spacing: 0.7rem;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-view .list-items {
  height: 530px;
  background-position: center;
  background-size: cover;
}

.grid-view .stand-alones {
  padding-block-start: 9rem;
}

.stand-alones.one {
  padding-inline-start: 9rem;
  padding-inline-end: 5rem;
}

.stand-alones.four {
  padding-inline-start: 6rem;
  padding-inline-end: 8rem;
}

.stand-alones h2 {
  font-size: 2.2rem;
  margin-block-end: 2rem;
}

.stand-alones p {
  color: #818498ff;
  line-height: 1.7rem;
  margin-block-end: 2rem;
}

.stand-alones h4 {
  font-size: 0.9rem;
  padding-inline-start: 0.4rem;
}

.hand-drawn-underline {
  position: relative;
  display: inline-block;
}

.hand-drawn-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 105%;
  height: 7px;
  border-radius: 3px;
  pointer-events: none;
  transform: translateY(1px);
  z-index: -1;
}

.one .hand-drawn-underline::after {
  background: #fced98;
}

.one .hand-drawn-underline:hover::after,
.one .hand-drawn-underline:active::after {
  background: #fad400ff;
}

.four .hand-drawn-underline::after {
  background: #ffbcb3;
}

.four .hand-drawn-underline:hover::after,
.four .hand-drawn-underline:active::after {
  background: #fe7867ff;
}

.stand-alones h4 a {
  color: #23303eff;
}

.list-items.two {
  background-image: url(/images/desktop/image-transform.jpg);
  max-height: 100%;
}
.list-items.three {
  background-image: url(/images/desktop/image-stand-out.jpg);
  max-height: 100%;
}
.list-items.five {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  max-height: 100%;
  color: #25564bff;
}
.list-items.six {
  background-image: url(/images/desktop/image-photography.jpg);
  max-height: 100%;
  color: #19536bff;
}

.list-items.subtext {
  padding-block-start: 18.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtext h3 {
  font-size: 1.5rem;
  margin-block-end: 2rem;
}

.subtext p {
  margin: 0 9rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.95rem;
}

.testimonials {
  width: 100%;
  height: 34rem;
  margin-block-start: 7rem;
  text-align: center;
}

.testimonials h3 {
  margin-block-end: 5rem;
  letter-spacing: 0.3rem;
  font-size: 1rem;
  font-weight: 900;
  color: #a7abaeff;
}

.testimonials .clients-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 7rem;
  margin-inline-end: 7rem;
}

.clients-info .person {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}

.clients-info .emily {
  margin-inline-end: 1rem;
}

.clients-info .thomas {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.clients-info .jennie {
  margin-inline-start: 1rem;
}

.person img {
  margin-block-end: 3rem;
  object-fit: contain;
  height: 4rem;
  border-radius: 50%;
}

.person p {
  color: #818498ff;
  line-height: 1.7rem;
}

.person .client-who-what {
  margin-block-start: 4.5rem;
}

.client-who-what p {
  margin-block-start: 0.5rem;
  font-size: 0.85rem;
  color: #a7abaeff;
}

.footer .pic-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pic-collection .img {
  height: 24.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.footer .eins {
  background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
}
.footer .zwei {
  background-image: url(/images/desktop/image-gallery-orange.jpg);
}
.footer .drei {
  background-image: url(/images/desktop/image-gallery-cone.jpg);
}
.footer .vier {
  background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
}

.footer .text-ending {
  background-color: #8ccfc0;
  width: 100%;
  height: 22rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-ending h1 {
  color: #2d7464;
  margin-block-start: -1rem;
}

.text-ending ul {
  align-self: center;
  margin: 2rem auto;
  gap: 3.5rem;
}

.text-ending a {
  color: #458c7dff;
}

.text-ending a:hover,
.text-ending a:active {
  color: #fff;
}

.text-ending .socials {
  margin-block-start: 3.5rem;
  display: flex;
  gap: 2rem;
}

.socials img:hover,
.socials img:active {
  cursor: pointer;
  filter: invert(1) brightness(2) saturate(0);
}

@media (max-width: 1028px) {
  .stand-alones h2 {
    margin-block-start: -5rem;
  }

  .stand-alones.one,
  .stand-alones.four {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }

  .subtext p {
    margin: 0 6rem;
  }

  .testimonials {
    margin-block-start: 4rem;
    height: 35rem;
  }

  .testimonials h3 {
    margin-block-end: 3rem;
  }
}

@media (max-width: 780px) {
  .hero {
    background: url(/images/mobile/image-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .hero nav {
    padding: 2rem 5%;
    position: relative;
  }
  .hero .nav-items {
    display: none;
  }

  .hero .ham-menu {
    display: block;
  }

  .hero a {
    color: #818498ff;
  }

  .nav-items li {
    margin-block-start: -0.8rem;
  }

  .hero .nav-focus {
    background-color: #fad400ff;
    margin-block-end: -1rem;
  }

  .nav-focus a {
    color: #23303eff;
    font-weight: 700;
  }

  .nav-items.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120%;
    right: 5%;
    width: 21rem;
    height: 19.5rem;
    background-color: #fff;
    padding: 2rem;
  }

  .nav-items.active::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    border-width: 2rem;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
  }

  .hero .center h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .grid-view {
    display: flex;
    flex-direction: column;
  }

  .grid-view .stand-alones {
    text-align: center;
    margin: -1rem -2rem;
  }

  .stand-alones h2 {
    font-size: 2rem;
  }

  .grid-view .list-items{
    width: 100%;
  }

  .list-items.two {
    background-image: url(/images/mobile/image-transform.jpg);
    max-height: 100%;
  }
  .list-items.three {
    background-image: url(/images/mobile/image-stand-out.jpg);
    max-height: 100%;
  }
  .list-items.five {
    background-image: url(/images/mobile/image-graphic-design.jpg);
    max-height: 100%;
  }
  .list-items.six {
    background-image: url(/images/mobile/image-photography.jpg);
    max-height: 100%;
  }

  .testimonials {
    height: fit-content;
    margin-block-end: 2rem;
  }

  .testimonials .clients-info {
    flex-direction: column;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
  }
  .clients-info .person {
    margin-block-end: 2rem;
  }

  .footer .pic-collection {
    grid-template-columns: repeat(2, 1fr);
  }

  .pic-collection .img {
    height: 12rem;
  }

  .footer .eins {
    background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
  }
  .footer .zwei {
    background-image: url(/images/mobile/image-gallery-orange.jpg);
  }
  .footer .drei {
    background-image: url(/images/mobile/image-gallery-cone.jpg);
  }
  .footer .vier {
    background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
  }
}
