@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-family: "Barlow", Verdana, Tahoma, sans-serif;
}

.container {
  margin: auto;
}

.hero {
  width: 100%;
  height: 760px;
  background: url(/images/desktop/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3%;
}

.hero .logo {
  font-family: "Barlow", Verdana, Tahoma, sans-serif;
}

.hero a {
  color: #fff;
}

.hero ul {
  list-style-type: none;
  display: flex;
}

.hero li {
  margin-inline-start: 3rem;
}

.hero #focus {
  font-family: "Fraunces";
  font-weight: 600;
  color: #000;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.hero .center {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  margin-block-start: 4rem;
}

.hero .center h1 {
  font-family: "Fraunces";
  font-size: 3rem;
  letter-spacing: 0.7rem;
  font-weight: 800;
}

.grid-view {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-view .list-items {
  height: 600px;
}



.list-items.two {
  background-image: url(/images/desktop/image-transform.jpg);
}
.list-items.three {
  background-image: url(/images/desktop/image-stand-out.jpg);
}
.list-items.five {
  background-image: url(/images/desktop/image-graphic-design.jpg);
}
.list-items.six {
  background-image: url(/images/desktop/image-photography.jpg);
}
